<div class="container mt-5">
  <h2>Create New Restaurant</h2>
  <%= render 'form' %>

  <button class="btn btn-secondary mt-3"><%= link_to "Back", restaurants_path, class:"text-white" %></button>
</div>
